@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@500&family=Staatliches&display=swap");

$defaultFonts: Comfortaa, Helvetica, sans-serif;
$headerFonts: Roboto, cursive, sans-serif;

$nav-col: linear-gradient(
	90deg,
	rgba(2, 0, 36, 1) 0%,
	rgba(9, 9, 121, 0.5) 35%,
	rgba(0, 212, 255, 1) 100%
);

$navbar-color: linear-gradient(
	90deg,
	rgba(2, 0, 36, 0.9) 0%,
	rgba(9, 9, 121, 0.5) 100%
);

$defaultBg: #111827;

// Bootstrap Color
$text-success: #198754;
$text-primary: #0d6efd;

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	// list-style-type: none;

	font-family: $defaultFonts;
}

.container {
	max-width: 100vw;
	min-height: 100vh;
	background-color: $defaultBg;
}

// Navbar
nav {
	position: fixed;
	width: 100%;
	background: $navbar-color;
	z-index: 5;

	.nav-container {
		display: flex;
		justify-content: start;
		// align-items: center;
		overflow: hidden;
		gap: 55px;
		// background-color: black;

		.nav-button {
			display: flex;
			column-gap: 30px;
			align-items: center;

			a {
				font-size: 25px;
				transition: all 0.1s linear;
				color: white;

				&:hover {
					color: orange;
				}
			}
		}
		.logo {
			margin-left: 50px;
			img {
				width: 3rem;
				height: 5rem;
				object-fit: contain;
			}
		}

		.menu-toggle {
			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 5px;
			margin-right: 25px;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			width: 50px;
			min-height: 84px;

			.bar {
				width: 100%;
				height: 4px;
				background-color: #fff;
				margin: 3px 0;
				object-fit: fill;
				border-radius: 20px;
				transition: all 0.3s ease-in-out;
			}

			// &.active .bar {
			// 	background-color: #fff; /* Ubah warna bar saat hamburger aktif */
			// }
			/* Animasi hamburger menjadi close (X) */
			&.active .bar:nth-child(1) {
				transform: translateY(15px) rotate(45deg);
			}

			&.active .bar:nth-child(2) {
				transform: scale(0);
				opacity: 0;
			}

			&.active .bar:nth-child(3) {
				transform: translateY(-15px) rotate(-45deg);
			}
		}
	}
}

.home-container {
	display: flex;
	flex-direction: column;

	// Main Content Di Home
	.main-content {
		min-height: 100vh;

		.section-container {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 100vh;

			.snow {
				position: absolute;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
				background-position: 0px 0px;
				animation: animatedBackground 10s ease infinite;
			}

			.snow div {
				width: 100%;
				height: 100%;
				z-index: 1;
				background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
				background-position: 0px 0px;
				animation: animatedBackground 10s linear infinite;
			}

			.content {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1.5rem;
				background-color: rgba(0, 0, 0, 0.7);
				height: 100%;
				z-index: 2;
				color: white;
				position: relative;
				padding-top: 10rem;

				.buttonCopy {
					// background-color: black;
					display: flex;
					justify-content: center;
					width: 170px;
					height: 60px;

					button {
						background-color: #2cc3c3;
						border-radius: 15px;
						width: 100%;
						font-weight: 900;
						filter: drop-shadow(20px -5px 65px #2cc3c3);
						transition: all 0.2s ease;
						border: 1px solid #2cc3c3;

						&:hover {
							box-shadow: 7px 3px 0px 1px rgba(44, 195, 195, 0.75);
						}

						&:active {
							background-color: red;
							color: white;
							box-shadow: 7px 3px 0px 1px rgba(255, 0, 0, 0.75);
						}
					}
				}

				.header {
					img {
						width: 35rem;
					}

					// text-transform: uppercase;
					// font-family: $headerFonts;
					// font-size: 5rem;
					// span {
					// 	font-weight: 900;
					// 	font-family: $headerFonts;
					// }
				}

				.main {
					max-width: 60rem;
				}
			}

			.image-cover {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			.about {
				background: rgb(2, 0, 36);
				background: linear-gradient(
					90deg,
					rgba(2, 0, 36, 1) 20%,
					rgba(9, 9, 121, 0.21052170868347342) 100%
				);

				display: flex;
				flex-direction: column;
				align-items: start;
				padding-left: 5rem;

				.header {
					h1 {
						color: #ffa500;
						text-transform: uppercase;
						font-size: 3rem;
						font-family: $headerFonts;
						filter: drop-shadow(16px 1px 29px #ffa500);
					}
					img {
						padding-left: 0;
						width: 15rem;
					}
				}

				.main {
					max-width: 50rem;
					font-size: 1.5rem;
				}
			}
		}
	}
}

// Content Perks
.perks-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	color: white;
	// background-color: black;
	padding-top: 7rem;
	padding-bottom: 50px;

	.container-header {
		width: 80%;
		padding-left: 5rem;
		margin-bottom: 2rem;
		border: 1px solid white;
		border-radius: 20px;
		padding-top: 20px;

		ul {
			display: flex;
			flex-direction: column;
			list-style-type: disc;

			li {
				padding: 15px;
			}
		}
	}

	.container-cards {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap-reverse;
		column-gap: 10px;
		row-gap: 35px;
		width: 50%;
		// background-color: white;
	}

	.card {
		width: 15rem;
		height: 20rem;
		background-color: black;
		border: 0.5px solid white;
		border-radius: 15px;

		.card-container {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;

			.card-header {
				padding: 20px;
				border-bottom: 1px solid white;
			}

			.card-body {
				font-size: 18px;
				margin-inline: 25px;
			}

			.card-footer {
				display: flex;
				justify-content: space-around;
				// background-color: white;
				padding: 20px;

				button {
					width: 130px;
					height: 35px;
					background-color: $text-primary;
					border-radius: 10px;
					border: 1px solid white;

					a {
						color: white;
					}
				}

				.info {
					background-color: $text-success;
					width: 50px;
					color: white;
				}
			}
		}
	}

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		transform: scale(0);
		opacity: 0;
		transition: all 0.2s ease-in;

		&.show {
			opacity: 1;
			transform: scale(1);
		}

		.modal-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			background-color: $defaultBg;
			color: white;
			width: 60rem;
			height: 30rem;
			max-width: 59rem;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

			.modal-header {
				text-align: center;
				width: 100%;
				padding-top: 20px;

				h3 {
					padding-top: 50px;
				}
			}

			.modal-content {
				display: flex;
				justify-content: space-around;
				width: 100%;
				text-align: center;

				.kiri {
					width: 100%;
				}
				.tengah {
					display: block;
					width: 100%;

					ul {
						display: flex;
						flex-direction: column;

						li {
							list-style-type: none;
						}
					}
				}
				.kanan {
					width: 100%;
					ul {
						display: flex;
						flex-direction: column;

						li {
							list-style-type: none;
						}
					}
				}
			}

			.modal-footer {
				width: 100%;
				text-align: center;
				padding-bottom: 25px;

				button {
					width: 9rem;
					height: 3rem;
					border: 1px solid white;
					border-radius: 20px;
					background-color: #0d6efd;
					color: white;

					&:hover {
						background-color: white;
						color: black;
					}
				}
			}
		}
	}
}

// Footer
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	height: 30rem;
	background-color: $defaultBg;

	.footer-container {
		display: flex;
		justify-content: space-between;
		padding-top: 5rem;
		color: white;
		// width: 67rem;
		// height: 20rem;

		.kiri {
			display: flex;
			flex-direction: column;
			gap: 15px;

			.copyright {
				p {
					padding-top: 10px;
				}
			}

			.link {
				a {
					color: white;
					font-size: 2rem;
					transition: all 0.15s linear;

					&:hover {
						color: gold;
					}
				}

				.fa-youtube {
					padding-left: 10px;
				}
			}
		}

		.tengah {
			display: flex;
			justify-content: space-between;
			width: 20rem;

			.tengah-kiri {
				h3 {
					font-weight: 700;
				}
				ul {
					padding-top: 25px;

					li {
						padding-top: 20px;

						a {
							color: white;
							font-weight: 500;
							transition: all 0.1s linear;

							&:hover {
								color: gray;
							}
						}
					}
				}
			}

			.tengah-kanan {
				h3 {
					font-weight: 700;
				}
				ul {
					padding-top: 25px;

					li {
						padding-top: 20px;

						a {
							color: white;
							font-weight: 500;
							transition: all 0.1s linear;

							&:hover {
								color: gray;
							}
						}
					}
				}
			}
		}

		.kanan {
			display: flex;
			flex-direction: column;
		}

		img {
			width: 10rem;
		}
	}
}

@keyframes animatedBackground {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0px 300px;
	}
}

@media (min-width: 2000px) {
	.perks-container {
		.container-cards {
			width: 100%;

			.card {
				width: 25rem;
				height: 36rem;

				.card-container {
					.card-footer {
						button {
							width: 200px;
							height: 60px;
							border-radius: 10px;
							border: 1px solid white;
							background-color: $text-primary;

							a {
								color: white;
							}
						}

						.info {
							background-color: $text-success;
							width: 70px;
							color: white;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.perks-container {
		padding-top: 8rem;
	}

	.home-container {
		.main-content {
			text-align: center;
		}
	}
}

@media (max-width: 768px) {
	.home-container {
		.main-content {
			.section-container {
				.content {
					.header {
						img {
							width: 20rem;
						}
					}
				}
				.about {
					align-items: center;
					padding-left: 0;

					.main {
						max-width: 30rem;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.home-container {
		.main-content {
			.section-container {
				.content {
					.header {
						img {
							width: 15rem;
						}
					}

					.main {
						max-width: 18rem;
					}
				}

				.about {
					align-items: center;
					padding-left: 0;
					.header {
						img {
							width: 10rem;
						}
					}
					.main {
						max-width: 15rem;
						font-size: 1.3rem;
					}
				}
			}
		}
	}

	nav {
		.nav-container {
			justify-content: space-between;

			.menu-toggle {
				display: flex;
			}

			.nav-button {
				position: absolute;
				right: 0;
				top: 0;
				justify-content: space-evenly;
				z-index: -2;
				width: 100%;
				height: 100vh;
				align-items: center;
				flex-direction: column;
				background: $navbar-color;
				transition: all 0.5s ease-in;
				transform: translateX(100%);
			}

			.nav-button.sidebarOn {
				transform: translateX(0%);
			}
		}
	}

	.perks-container {
		.container-header {
			width: 100%;
			text-align: center;
			padding-left: 0;
		}
	}

	.modal {
		.modal-container {
			.modal-content {
				max-width: 80%;
				flex-direction: column;
				gap: 20px;
			}
		}
	}
}
